.App {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

.upper {
  display: inline-flex;
  margin: 25px;
}

.circleOf5ths{
  display: inline-flex;
  margin: 25px;
}

.selections {
  width: 300px;
  padding-left: 75px;
}

.optSelectKey {
  height: 40px;
  width: 200px;
  font-size: large;
}

.chkBxLbl {
  font-size:large;
  padding-left: 5px;
  font-size: 20pt;
}

.chkIsBarChord {
  height: 25px;
  width: 25px;
}

.btnChooseKey {
  height: 40px;
  width: 200px;
  font-size: large;
}

.chordGroup {
  border: 1px solid black;
  width: 575px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: auto auto;
}

.chordImage {
  height: 200px;
}

.chordBox {
  width: 150px;
  display: flex-box;
  text-align: center;
}

.chordCheckbox {
  margin-right: 5px;
}

.scaleSection {
  display: inline-flex;
  margin: 5px; 
  padding-left: 5px;
}

.btnCounter {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnDiv {
  display: inline-block;
  padding-top: 130px;
  width: 50px;
}

.pageScales {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.displayScale {
  display: inline-flex;
  margin: 5px;
}

.divScales {
  border: 2px solid black;
  display: inline-flex;
  width: 1524px;
  min-width: 1000px;
}

.MP3_div {
  /* margin: 0px auto; */
  padding-left: 100px;
}

.MP3_header {
  padding-left: 40px;
  padding-top: 10px;
}

.divRecorder {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.btnMP3 {
  width: 100px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.btnScale {
  width: 50px;
  height: 50px;
  font-size: larger;
  margin-left: 15px;
  margin-right: 15px;
} 

li {
  list-style-type: none;
}

.divLogin {
  display: flex;
  justify-content: center;
  height: 500px;
}

.divLogin input {
  height: 30px;
  width: 200px;
  font-size: larger;
}

.divSignup {
  display: flex;
  justify-content: center;
  height: 500px;
}

.divSignup input {
  height: 30px;
  width: 200px;
  font-size: larger;
}

.divSignup h3 {
  text-align: center;
}

.recordingCenter {
  border: 1px solid black;
  width: 565px;
  height: 300px;
}

.formfield * {
  vertical-align: top;
}