.App {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

.upper {
  display: inline-flex;
  margin: 25px;
}

.circleOf5ths{
  display: inline-flex;
  margin: 25px;
}

.selections {
  width: 300px;
  padding-left: 75px;
}

.optSelectKey {
  height: 40px;
  width: 200px;
  font-size: large;
}

#openChords {
  height: 20px;
  width: 20px;
}

#barChords {
  height: 20px;
  width: 20px;
}

.chordRadio {
  padding-left: 5px;
  font-size: 20pt;
}

.btnChooseKey {
  height: 40px;
  width: 200px;
  font-size: large;
}

.chordGroup {
  border: 1px solid black;
  width: 575px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: auto auto;
}

.chordImage {
  height: 200px;
}

.chordBox {
  width: 150px;
  display: flex-box;
  text-align: center;
}

.chordCheckbox {
  margin-right: 5px;
}

.scaleSection {
  display: inline-flex;
  margin: 5px; 
  padding-left: 5px;
}

.pageScales {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.displayScale {
  display: inline-flex;
  margin: 5px;
}

.btnScale {
  width: 50px;
  height: 50px;
  font-size: larger;
  margin-left: 15px;
  margin-right: 15px;
} 

li {
  list-style-type: none;
}