.App {
  background-color: antiquewhite;
  background-image: url('./images/electricguitar1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-flex;
}

.navHeader {
  display: block;
  padding-left: 20px;
}

.navHeader li {
  font-size: x-large;
}

.LSCA {
  width: 1200px;
  height: 700px;
}

h1 {
  text-align: center;
}

#banner {
  text-align: center;
  text-shadow: #131212;
  font-size: 60px;
  font-style: oblique;
  color: red;
  text-shadow: 3px 3px black;
  padding-top: 10px;
}

.upper {
  display: inline-flex;
  margin: 25px;
}

.circleOf5ths{
  display: inline-flex;
  margin: 25px;
}

.selections {
  width: 300px;
  padding-left: 75px;
}

.optSelectKey {
  height: 40px;
  width: 200px;
  font-size: large;
}

.chkBxLbl {
  font-size:large;
  padding-left: 5px;
  font-size: 20pt;
}

.chkIsBarChord {
  height: 25px;
  width: 25px;
}

.btnChooseKey {
  height: 40px;
  width: 200px;
  font-size: large;
  font-weight: bold;
  background-color: bisque;
  box-shadow: 5px 10px 18px #222222;
}

.chordGroup {
  border: 1px solid black;
  width: 575px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: auto auto;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chordImage {
  height: 200px;
}

.chordBox {
  width: 150px;
  display: flex-box;
  text-align: center;
}

.chordCheckbox {
  margin-right: 5px;
}

.scaleSection {
  display: inline-flex;
  margin: 5px; 
  padding-left: 5px;
}

.btnCounter {
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btnDiv {
  display: inline-block;
  padding-top: 130px;
  width: 50px;
}

.pageScales {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.displayScale {
  display: inline-flex;
  margin: 5px;
}

.divScales {
  border: 2px solid black;
  display: inline-flex;
  width: 1524px;
  min-width: 1000px;
}

.MP3_div {
  /* margin: 0px auto; */
  padding-left: 100px;
}

.MP3_header {
  padding-left: 40px;
  padding-top: 10px;
}

.divRecorder {
  display: flex;  
  justify-content: center;
  align-items: center;
}

.btnMP3 {
  width: 100px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.btnScale {
  width: 50px;
  height: 50px;
  font-size: larger;
  margin-left: 15px;
  margin-right: 15px;
} 

li {
  list-style-type: none;
}

.divLogin {
  display: flex;
  justify-content: center;
  height: 500px;
}

.divLogin input {
  height: 30px;
  width: 200px;
  font-size: larger;
}

.divSignup {
  display: flex;
  justify-content: center;
  height: 500px;
}

.divSignup input {
  height: 30px;
  width: 200px;
  font-size: larger;
}

.divSignup h3 {
  text-align: center;
}

.divAdmin {
  height: 700px;
}

.oneScale {
  width: 882px;
}

.recordingCenter {
  border: 1px solid black;
  width: 565px;
  height: 393px;
  background:linear-gradient(#262626,#eaeaea,#262626);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#optSelectMP3 {
  width: 309px;
  height: 20px;
  margin-top: 10px;
  margin-left: 106px;
}

#recordingurl {
  width: 300px;
  height: 20px;
}

.formfield * {
  padding-left: 5px;
  vertical-align: top;
}

#memo {
  width: 352px;
}

.playback2 {
  padding-top: 15px;
  height: 50px;
  width: 556px;
  display:inline-flex;
  justify-content: center;
}

.btnPlayback2 {
  height: 30px;
  width: 75px;
}

#chkLoop {
  height: 20px;
  width: 20px;
  margin-left: 15px;
}

#lblLoop {
  font-size: large;
  font-weight: bold;
}

.divDeleteUser {
  border: 1px solid black;
  width: 400px;
  margin-left: 400px;
  margin-bottom: 50px;;
  height: 500px;
  justify-content: center;
}

.frmDeleteUser {
  align-content: center;
  justify-content: center;
  margin-left: 25px;
}